@import "tailwindcss";

@theme {
  --color-gray-700: #344054;
  --color-purple-25: #fafaff;
  --color-purple-50: #f4f3ff;
  --color-purple-500: #7a5af8;
  --color-gray-400: #98a2b3;
  --color-gray-600: #5f738c;
  --color-primary-green: #3baa90;
  --color-success-500: #12b76a;
  --color-gray-700: #344054;
  --color-gray-900: #909090;

  /* Custom font size */
  --text-22: 22px;
  /* spacing*/
  --spacing-72: 72px;
  --spacing-26: 26px;
}

/* Custom styles for camera app */
.safe-area-inset-top {
  padding-top: max(1rem, env(safe-area-inset-top));
}

.safe-area-inset-bottom {
  padding-bottom: max(1rem, env(safe-area-inset-bottom));
}

/* Prevent zoom on iOS */
input,
select,
textarea {
  font-size: 16px;
}

/* Camera specific styles */
video {
  object-fit: cover;
}

/* Smooth transitions */
* {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
